/*@import 'node_modules/mdb-react-ui-kit/dist/css/mdb.min.css';*/
@import '~mdb-react-ui-kit/dist/css/mdb.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.dropdown-toggle::after {
    display: none !important;
}

tttt.active {
    background-color: red !important;
}
