<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
     />
     <style>
          body {
               font-family: 'Roboto', sans-serif;
          }
          .container {
               max-width: 600px;
               margin: 0 auto;
               padding: 20px;
               background-color: #f5f5f5;
               -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
               -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
               box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
          }
          .logo {
               display: flex;
               align-items: center;
               margin-bottom: 20px;
          }
          .logo img {
               width: 40px;
               height: 40px;
               margin-right: 10px;
          }
          .title {
               font-size: 24px;
               font-weight: 500;
               margin-bottom: 10px;
          }
          .message {
               margin-bottom: 20px;
          }
     </style>
</head>
<body>
<div class="container">
     <div class="logo">
          <img src="https://example.com/logo.png" alt="Logo">
          <h1 class="title">Сайт</h1>
     </div>
     <div class="message">
          <p>Hi, <span style="text-transform: uppercase;">{{ fullName }}</span>!</p>
     </div>
     <p>Please change your password after logging into your account.</p>
</div>
</body>
</html>
